.container {
    /* width: 560px;
    height: 640px; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;


}

.clear {
  grid-area: 1 / 1 / 2 / 3;
}
.delete {
  grid-area: 1 / 3 / 2 / 5;
}
